$side-width:25%;
* { box-sizing: border-box }
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
html, body, #wrapper {height:100%;}
#wrapper{
	height:100%;
	#side{
		width:$side-width;
		height:100%;
		background-color:blue;
		position:absolute;
	}
	#main{
		position:absolute;
		width:75%;
		margin-left:$side-width;	
	}
	.item{
		background-color:yellow;
		border:1px solid red;
		width:25%;
	}
}

@media screen and (max-width: 720px) {
	#wrapper{
		.item{
			width:100%;
		}
	}
}