$side-width:25%;
* { box-sizing: border-box }
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
html, body, #wrapper {height:100%;}
#wrapper{
	height:100%;
	#main{
		height:100%;
		width:100%;
		#container {
			margin: 0 auto;
			background-color:blue;
			width:99%;
		}
		.item {
			background: #CCC;
			border:1px solid black;
			width: 24%;
			margin:.5%;
			height: 120px;
			&.w2{
				width:50%;
			}
			&.h2{
				height:240px;
			}
		}
	}
} 
/**
XXL LAYOUT - 5 COLUMNS
**/
@media screen and (min-width: 1020px) {
	#wrapper{
		#main{
			.item{
				
				&.w2, &.w1, &.h2, &.h1{
					width: 19%;
				}
			} 
		}
	} 
}  

/**
SM LAYOUT - 2 COLUMNS
**/
@media screen and (max-width: 720px) {
	#wrapper{
		#main{
			.item{
				
				&.w2, &.w1, &.h2, &.h1{
					width: 49%;
				}
			} 
		}
	} 
}  

