* { box-sizing: border-box }
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
html, body, #wrapper {height:100%;background: #fafafa;}
#canvas{
	width:100%;
	height:100%;
	position:fixed;
}
#wrapper{
	#main{
		padding-top:26%;
		width:100%;
		#container {
			margin: 0 auto;
			width:99%;
		}
		.item {
			background: #fff;
			width: 32%;
			margin:.5%;
			height: 120px;
			&.w2{
				//width:50%;
			}
			&.h2{
				height:240px;
			}
		}
	}
} 
/**
XXL LAYOUT - 4 COLUMNS
**/
@media screen and (min-width: 1020px) {
	#wrapper{
		#main{
			.item{
				
				&.w2, &.w1, &.h2, &.h1{
					width: 24%;
				}
			} 
		}
	} 
}  

/**
SM LAYOUT - 2 COLUMNS
**/
@media screen and (max-width: 720px) {
	#wrapper{
		#main{
			.item{
				
				&.w2, &.w1, &.h2, &.h1{
					width: 49%;
				}
			} 
		}
	} 
}  

